<img class="logo" src="../../assets/users-group.png" alt="">
<video class="tronVideo" playsinline autoplay volume="0" loop>
      <source src="../../assets/White+Mountains+TRON+Timelapse.mp4" type="video/mp4">
</video>
<div class="loginContainer">
  <form>
    <label for="username">
      Username:<br>
      <input type="text" [(ngModel)]="user.username" name="username" />
    </label>
    <br>
    <label for="password">
      Password:<br>
      <input type="password" [(ngModel)]="user.password" name="password" />
    </label>
    <br>
    <button class="loginBtn" (click)="click(user.username, user.password)">Login</button>
  </form>

  <h3 *ngIf="errorMessage.length > 0">{{ errorMessage }}</h3>
</div>
