/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css?family=Inconsolata);

.walletsPage {
    display: flex;
    flex-direction: column;
    background: black;
    font-family: Inconsolata;
  }
  
.topBar {
    display: flex;
    flex-direction: row;  
    justify-content: space-between;
}

.walletsCard {
    color: white;
    border: 1px solid #22AFCA;
    border-radius: 5px;
    transition: width 350ms ease-in-out 0s;
    box-shadow: 0 0 19px 1px #0c75d7;
    margin: 5%;
    font-family: Inconsolata;
}

.walletDeets {
    margin: 1%;
    padding-bottom: 1%
}

.goToVoteBtn {
    border: 1px solid #ff5700;
    border-radius: 5px;
    transition: width 350ms ease-in-out 0s;
    padding: 1%;
    margin-bottom: 3%;
}

.goToVoteBtn:active, {
    background-color: #ff5700;
    color: black;
}

.goToVoteBtn:hover  {
    border: 1px solid #ff5700;
    transition: width 350ms ease-in-out 0s;
    box-shadow: 0 0 19px 1px #ff5700;
    cursor: pointer;
}